<h1 class="my-5 text-center">
  ToDo リスト
</h1>

<form action="/" method="post" class="mb-5 w-50 mx-auto" name='user'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" placeholder="Title" />
    <% if @todo && @todo.errors.full_messages_for(:title) then %>
      <small class="form-text text-danger">
        <%= @todo.errors.full_messages_for(:title)[0] %>
      </small>
    <% end %>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" placeholder="Description"></textarea>
    <% if @todo && @todo.errors.full_messages_for(:description) then %>
      <small class="form-text text-danger">
        <%= @todo.errors.full_messages_for(:description)[0] %>
      </small>
    <% end %>
  </div>
  <input type="hidden" name="status" value="In progress" />
  <button type="submit" class="mt-2 btn btn-primary">Add</button>
</form>

<div class="w-50 mx-auto">

  <%= link_to 'All', "/", method: :get,
    class: "mt-2 btn btn-"+(@filter == nil ? "" : "outline-") +"secondary" %>
  <%= link_to 'In progress', "/?status=In progress", method: :get,
    class: "mt-2 btn btn-"+(@filter == "In progress" ? "" : "outline-") +"secondary" %>
  <%= link_to 'Complete', "/?status=Complete", method: :get,
    class: "mt-2 btn btn-"+(@filter == "Complete" ? "" : "outline-") +"secondary" %>
</div>

<% @todos.each do |todo| %>
  <div class="card mx-auto w-50 my-3">
    <h6 class="card-header <%= todo.status == 'In progress' ? 'bg-warning' : 'bg-success' %>">
      <%= todo.status %>
    </h6>
    <div class="card-body">
      <% if (defined? @edit_id) && (@edit_id.to_i == todo.id) %>
        <form action="/<%= todo.id %>" method="post" class="mb-5 w-50 mx-auto" name='user'>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" value="<%= todo.title %>"/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" placeholder="Description"><%= todo.description %></textarea>
          </div>
          <input type="hidden" name="status" value="<%= todo.status %>" />
          <button type="submit" class="mt-2 btn btn-primary">Send</button>
          <%= link_to 'Cancel', "/", method: :get, class: "mt-2 btn btn-secondary" %>
        </form>
      <% else %>
        <h5 class="card-title">
            <%= todo.title %>
        </h5>
        <p class="card-text">
          <%= todo.description %>
        </p>
        <%= link_to (todo.status == 'In progress' ? 'Complete' : 'Cancel'), "/#{todo.id}", method: :put, class: "btn btn-" + (todo.status == 'In progress' ? 'info' : 'secondary') %>
        <%= link_to 'Edit', "/#{todo.id}"+(@filter == nil ? "" : "?status="+@filter), method: :get, class: "btn btn-secondary" %>
        <%= link_to 'Delete', "/#{todo.id}", method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>
